Lab/Lab4/2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="price" type="xs:decimal" />
            <xs:element name="productid" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="product" type="ProductType" />
</xs:schema>